<div class="container mt-5">
    <div class="card">
        <div class="card-header">
ADD USER
        </div>
        <div class="card-body">
                <form action="/question/add3" method="POST"  >
                    <div class="form-group">
                        <label for="idname"> ID:[optional]</label>
                        <input type="text" class="form-control" name="id" id="id" value="">
                    </div> 
                   
                    <div class="form-group">
                        <label for="question">user name</label>
                        <input type="text" class="form-control" name="username" id="username" value="">
                    </div>


                    <div class="form-group">
                        <label for="question">full name :</label>
                        <input type="text" class="form-control" name="fullname" id="fullname" value="">
                    </div>

                    <div class="form-group">
                        <label for="question">password</label>
                        <input type="text" class="form-control" name="password" id="password" value="">
                    </div>

                     <div class="form-group">
                        <label for="question">mail :</label>
                        <input type="text" class="form-control" name="mail" id="mail" value="">
                    </div>
                     <div class="form-group">
                        <label for="question">phone:</label>
                        <input type="text" class="form-control" name="phone" id="phone" value="">
                    </div>

                     <div class="form-group">
                        <label for="question">adress:</label>
                        <input type="text" class="form-control" name="adress" id="adress" value="">
                    </div>
                    
                   
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-primary">save</button>
                    </div>  

                    <div class="file has-name">
          
          </div>      
                </form>

        </div>
    </div>
</div>