
 <form action="/auth2/register" method="POST"> 
 

            
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="float-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/profile">Intellisec</a></li>
                                    <li class="breadcrumb-item"><a href="/page2">Assessment information</a></li>
                                    <li class="breadcrumb-item active">demographic Configurations</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Assessment Configurations</h4>
                        </div>
                        <!--end page-title-box-->
                    </div>
                    <!--end col-->
                </div>
                <!-- end page title end breadcrumb -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">demographic Configurations</h4>
                             
                            </div><!--end card-header-->
                            <div class="card-body">  
                                <div class="row">
                                    <div class="col-lg-6">


                                    
                                       
                                        
                                        <div class="mb-3 row">
                                            <label  for="sector" class="col-sm-2 col-form-label text-end">Sector</label>
                                            <div class="col-sm-10">
                                                <select class="form-select" id="sector" name="sector">
                                                                                  <option value="List of industries" >List of sectors</option>

              <option value="chemical sector" >chemical sector</option>
              <option value="commercial sector" >commercial sector</option>
              <option value="energy sector" >energy sector</option>
              <option value="financial sector " >financial sector </option>
              <option value="food and agriculture sector" >food and agriculture sector</option>
              <option value=" communications sector " >communications sector  </option>
              <option value="information security sector" >information security sector </option>
              <option value="critical manufacturing Sector" >critical manufacturing Sector </option>
              <option value="defense industrial sector" >defense industrial sector </option>
              <option value="IT Sector" >IT Sector </option>
              <option value="transportation systems sector " >transportation systems sector  </option>

              <option value="water systems sector" >water systems sector</option>
                                                  </select>
                                            </div>
                                        </div>
  
                                        <div class="mb-3 row">
                                            <label class="col-sm-2 col-form-label text-end"  for="list">Industry</label>
                                            <div class="col-sm-10">
                                                <select class="form-select" aria-label="Default select example" id="list" name="industry">
                                                    <option value="List of industries" >List of industries</option>
  
                <option value="healthcare" >healthcare</option>
                <option value="IT" >IT</option>
                <option value="servies" >servies</option>
                <option value="robotics" >robotics</option>
                                <option value="gaming" >gaming</option>

                <option value="sports" >sports</option>
                                   <option value="events" >events</option>

                                                  </select>
                                            </div>
                                        </div>
          
                    <div class="mb-3 row" >
                                            <label for="protect" class="col-sm-2 col-form-label text-end">What is the gross value of the asset you are trying to protect?  </label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="text" placeholder='gross value' id="protect" name="protect">
                                            </div>
                                        </div>
                                      

            <div class="mb-3 row">
                                            <label class="col-sm-2 col-form-label text-end" for="effort">What is the relative expected effort for this assessment?</label>
                                            <div class="col-sm-10">
                                                <select class="form-select" aria-label="Default select example" id="effort" name="effort">
                                                         <option value="List of industries" >not selected </option>
  
                <option value="small" >small [1hour]</option>
                <option value="medium" >medium [1 day] </option>
                <option value="2 weeks " >2 weeks  </option>
                <option value="more than 2 weeks " >more than 2 weeks </option>
                                                  </select>
                                            </div>
                                        </div>



                    <div class="mb-3 row" >
                                            <label for="org" class="col-sm-2 col-form-label text-end"> Name of Organization   </label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="text" placeholder=' Name of Organization' id="org" name="org">
                                            </div>
                                        </div>
         
       

                    <div class="mb-3 row" >
                                            <label for="unit" class="col-sm-2 col-form-label text-end">Business Unit/Agency      </label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="text" placeholder=' Business Unit/Agency   ' id="unit" name="unit">
                                            </div>
                                        </div>
          




                                          <div class="mb-3 row">
                                            <label  for="type" class="col-sm-2 col-form-label text-end" >Organization Type</label>
                                            <div class="col-sm-10">
                                                <select class="form-select" aria-label="Default select example" id="type" name="type">
                                                     <option value="Organization Type" >not selected </option>
  
                <option value="Industry" >Industry </option>
                <option value="federal entity" >federal entity </option>
                <option value="SLTT" >SLTT</option>
                                                  </select>
                                            </div>
                                        </div>
          
                                    
 
                                                                  
                                    </div>


                                  
                                </div>   
                                           
                                                  

                                  <button type="submit" class="btn btn-de-primary">Next ></button>
                                    <button type="button" class="btn btn-de-danger">Cancel</button>                                                                   
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->

                


           


 </form>





         
      
         
      
